<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Standings</title>
</head>
<%- include('./partials/header') %>
<body>
        <a href="/teams/create">Create Team</a>
    <% teams.forEach(team => { %>
        <p class='teamsGrid'>
            <a href="/<%=team.id%>/<%=team.tname%>/players"><%=team.tname%></a>  
            W: <%=team.wins%>  
            L: <%=team.losses%> 
            PCT: <%=team.pct%>
          <a href="<%=team.tname%>/update">Edit Team</a>
    </p> 
    <%}) %>
</body>
</html>