
<%- include('./partials/header') %>
    <table class="table teams">
        <a class="button" href="/teams/new">Create Team</a>
        <thead>
            <tr>
                    <th>Team</th> 
                    <th><abbr title="Won">W</abbr></th>
                    <th><abbr title="Lost">L</abbr></th>
                    <th><abbr title="PCT">PCT</abbr></th>  
            </tr>
        </thead>
        <tbody>
        <!-- Shows all teams and win, losses and winning percentage -->
    <% teams.forEach(team => { %>
        <p>
            <tr>
            <td><a class="thead"href="/teams/<%=team.id%>/players?team=<%=team.tname%>"><%=team.tname%></a></td>
            <td><%=team.wins%></td>
            <td><%=team.losses%></td>
            <td><%=team.pct.replace(/^[0]+/g,"")%></td>
          <td><a class="edit" href="/teams/<%=team.id%>/edit">Edit Team</a></td>
    </p> 
</tr>
    <%}) %>
</tbody>
</table>
</div>
</section>
</body>
</html>