<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Standings</title>
</head>
<%- include('./partials/header') %>
<body>
    <% teams.forEach(team => { %>
        <p><a href="/<%=team.tname%>/players"><%=team.tname%></a>  W: <%=team.wins%>  L: <%=team.losses%> PCT:
        <%if (team.wins + team.losses > 0) { %>
          <%=(team.wins/(team.wins+team.losses)).toFixed(3).toString().slice(1, 5) %> 
          <form action="/players/<%=team.tname%>/update">
            <input type="submit" value="Update Record" />
        </form>
    </p> 
        <%} else{%> 
            .000
            <form action="/players/<%=team.tname%>/update"></form>
                <input action="/players/<%=team.tname%>/update" type="submit" value="Update Record" />
            </form>
        </p>
    <%}%>
    <%}) %>
</body>
</html>