<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Standings</title>
</head>
<%- include('./partials/header') %>
<body>
        <form action="/teams/create">
        <input type="submit" value="Create Team"/>
        </form>
    <% teams.forEach(team => { %>
<form>
        <p class='teamsGrid'>
            <a href="/<%=team.id%>/<%=team.tname%>/players"><%=team.tname%></a>  
            W: <%=team.wins%>  
            L: <%=team.losses%> 
            PCT: <%=team.pct%>
          <form action="/<%=team.tname%>/update">
            <input type="submit" value="Edit Team" />
        </form>
    </p> 
</form>
    <%}) %>
</body>
</html>