<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<%- include('./partials/header') %>
    <h2><%=players[0].tname%></h2>
<body>
        <% players.forEach(player => { %>
           <p> <%=player.name%>  
            AB: <%=player.ab%> 
            <%if (player.ab > 0) { %>
            AVG: <%=((player.b1+player.b2+player.b3+player.hr)/player.ab).toFixed(3).toString().slice(1, 5)%> 
            <% } else {%>
                AVG: <%='.000'%><%}%>
            HR: <%=player.hr%>  
            RBI: <%=player.rbi%> 
            H: <%=player.b1+player.b2+player.b3+player.hr%> 
            BB: <%=player.walks%> 
            <%if ((player.ab+player.walks+player.hbp) > 0) { %>
            OBP: <%=((player.b1+player.b2+player.b3+player.hr+player.walks+player.hbp)/(player.ab+player.walks+player.hbp)).toFixed(3).toString().slice(1, 5)%>
            <% } else {%>
                OBP: <%='.000'%><%}%>
            <%if (player.ab > 0) { %>
            SLG: <%=(((player.b1)+(player.b2*2)+(player.b3)+(player.hr*4))/player.ab).toFixed(3)%>
            <% } else {%>
                SLG: <%='.000'%><%}%>
            <%if ((player.ab+player.walks+player.hbp) > 0) { %>
            OPS: <%=(((player.b1+player.b2+player.b3+player.hr+player.walks+player.hbp)/(player.ab+player.walks+player.hbp))+(((player.b1)+(player.b2*2)+(player.b3)+(player.hr*4))/player.ab)).toFixed(3)%>
            <% } else {%>
                OPS: <%='.000'%><%}%>
        </p>
        <form action="/players/<%=player.id%>/update">
            <input type="submit" value="Update Player" />
        </form>
        <%}) %>
    
</body>
</html>