<%- include('./partials/header') %>
    
<a href="/<%=name%>/<%=id%>/create">Create Player</a>

<table class="table">
        <thead>
            <tr>
                    <th>Name</th> 
                    <th><abbr title="AB">AB</abbr></th>
                    <th><abbr title="AVG">AVG</abbr></th>
                    <th><abbr title="H">H</abbr></th>
                    <th><abbr title="HR">HR</abbr></th>
                    <th><abbr title="RBI">RBI</abbr></th>
                    <th><abbr title="BB">BB</abbr></th>  
                    <th><abbr title="OBP">OBP</abbr></th>
                    <th><abbr title="SLG">SLG</abbr></th>
                    <th><abbr title="OPS">OPS</abbr></th>
                    <th><abbr title="OPS">ERA</abbr></th>
            </tr>
        </thead>
    
<h2 class='teamHeader'><%=name%></h2>
<body>
        <% players.forEach(player => { %>
           <p> 
            <tr>
            <td><%=player.name%></td>  
            <td><%=player.ab%></td> 
            <td><%=player.ba.replace(/^[0]+/g,"");%></td> 
            <td><%=player.hits%></td> 
            <td><%=player.hr%></td>
            <td><%=player.rbi%></td>
            <td><%=player.walks%></td> 
            <td><%=player.obp.replace(/^[0]+/g,"");%></td>
            <td><%=player.slg.replace(/^[0]+/g,"")%></td>
            <td><%=player.ops.replace(/^[0]+/g,"")%></td>
            <td><%=player.era%></td>
        </p>
        <td><a href="/players/<%=player.id%>/update">Update</a></td>
    </tr>
        <%}) %>
    
</body>
</html>