<%- include('./partials/header') %>
    
<a class="button" href="/teams/<%=id%>/newplayer">Create Player</a>

<table class="table updateTable">
        <thead>
            <tr>
                <h2 class='teamHeader'><%=name%></h2>
                    <th>Name</th> 
                    <th><abbr title="AB">AB</abbr></th>
                    <th><abbr title="AVG">AVG</abbr></th>
                    <th><abbr title="H">H</abbr></th>
                    <th><abbr title="HR">HR</abbr></th>
                    <th><abbr title="RBI">RBI</abbr></th>
                    <th><abbr title="BB">BB</abbr></th>  
                    <th><abbr title="OBP">OBP</abbr></th>
                    <th><abbr title="SLG">SLG</abbr></th>
                    <th><abbr title="OPS">OPS</abbr></th>
                    <th><abbr title="IP">IP</abbr></th>
                    <th><abbr title="ER">ER</abbr></th>
                    <th><abbr title="ERA">ERA</abbr></th>
            </tr>
        </thead>

<body>
        <% players.forEach(player => { %>
           <p> 
            <tr>
            <td><%=player.name%></td>  
            <td><%=player.ab%></td> 
            <td><%=player.ba.replace(/^[0]+/g,"");%></td> 
            <td><%=player.hits%></td> 
            <td><%=player.hr%></td>
            <td><%=player.rbi%></td>
            <td><%=player.walks%></td> 
            <td><%=player.obp.replace(/^[0]+/g,"");%></td>
            <td><%=player.slg.replace(/^[0]+/g,"")%></td>
            <td><%=player.ops.replace(/^[0]+/g,"")%></td>
            <td><%=player.ips%>.<%=player.outs%></td>
            <td><%=player.er%></td>
            <td><%=player.era%></td>
        </p>
        <td><a class="edit" href="/players/<%=player.id%>/edit">Edit</a></td>
    </tr>
        <%}) %>
    
</body>
</html>